.main-container{
    display: flex;
     max-width:1285px;
     margin: 0 auto;
     gap: 20px;
}

.image-div
{
    width: 833px;
    height: 480px;
    border: 1px solid black;
    object-fit: contain;
    border-radius: 5px;

}

.image-div img
{
    width: 830px;
    height: 477px;
    object-fit: contain;
}


.left-div
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.description
{
    width: 833px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}



.right-div
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informations   
{
    border: 1px solid black;
    width: 406px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    gap: 20px;
    border-radius: 5px;
    position: relative;
}


.chatseller
{
    width: 406px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.chatseller button
{
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 120px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}


.postedin
{
    font-family: sans-serif;
    height: 96px;
    width: 406px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding: 10px;
    gap: 20px;
    border-radius: 5px;
}

.gps
{
    width: 406px;
    height: 298px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    
}


.info-product-name,
.info-product-location
{
    font-size: 14px;
    font-family: sans-serif;

}

.info-product-price
{
    font-family: sans-serif;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-family: sans-serif;
    padding: 20px;
}


.today
{
    font-family: sans-serif;
    font-size: 12px;
position: absolute;
bottom: 35px;
right: 20px;
}
